 {% extends "base_site.html" %}


{% block content %}
<h2>Censo</h2>




<div class="datagrid">



	<table>


		<tr>
			<td><label>Expediente</label></td>
			<td>
				<input id="expedienteId" name="" value=""  readonly>
				<button id="expediente_popup_button">...</button>
				 
			</td>
			<td><label id="" class="error_hide">Campo requerido</span></td>
		</tr>

		<tr>
			<td><label>Número</label></td>
			<td><input id="" name="" value="" >
			</td>
			<td><label id="" class="error_hide">Campo requerido</span></td>
		</tr>


		<tr>
			<td><label>Fecha</label></td>
			<td><input id="" name="" value=""  >
			</td>
			<td><label id="" class="error_hide">Campo requerido</span></td>
		</tr>



		<tr>
			<td><label>Tipo enc. legal</label></td>
			<td><input id="" name="" value="" >
			</td>
			<td><label id="" class="error_hide">Campo requerido</span></td>
		</tr>

		<tr>
			<td><label>Expropiación</label></td>
			<td><input id="" name="" value=""  >
			</td>
			<td><label id="" class="error_hide">Campo requerido</span></td>
		</tr>

		<tr>
			<td><label>Prof. a cargo</label></td>
			<td><input id="" name="" value=""  >
			</td>
			<td><label id="" class="error_hide">Campo requerido</span></td>
		</tr>


		<tr>
			<td><label>Partido</label></td>
			<td>
				<input id="partidoId" name="" value=""  readonly>
				<button id="partido_popup_button">...</button>
			
			</td>
			<td><label id="" class="error_hide">Campo requerido</span></td>
		</tr>

		<tr>
			<td><label>Barrio</label></td>
			<td>
				<input id="barrioId" name="" value=""  readonly>
				<button id="barrio_popup_button">...</button>
			</td>
			<td><label id="" class="error_hide">Campo requerido</span></td>
		</tr>


		<tr>
			<td><label>Nomenclatura Provisoria</label></td>
			<td><input id="" name="" value=""  >
			</td>
			<td><label id="" class="error_hide">Campo requerido</span></td>
		</tr>



		<tr>
			<td><label>Nomenclatura Definitiva</label></td>
			<td><input id="" name="" value=""  >
			</td>
			<td><label id="" class="error_hide">Campo requerido</span></td>
		</tr>


		<tr>
			<td><label>R. Barrial Nombre</label></td>
			<td><input id="" name="" value=""  >
			</td>
			<td><label id="" class="error_hide">Campo requerido</span></td>
		</tr>

		<tr>
			<td><label>R. Barrail Municipio</label></td>
			<td><input id="" name="" value=""  >
			</td>
			<td><label id="" class="error_hide">Campo requerido</span></td>
		</tr>

	</table>

</div>
















{% endblock %}
