<div>

	<nav>

	<ul id="menu">


		{% for m in menu %}

			
			
			<li> 
					{% if m.subsistemas  %}
						
						{{ m.nombreDireccion }}
						<ul>
							{% for submenu in m.subsistemas %}
				
								<li>  
									<a href="{{submenu.target}}">{{ submenu.nombreSistema }}</a> 
							    </li> 
							
							{% endfor %}
			
						</ul>
					{% else %}
						<a href="{{m.target}}">	{{ m.nombreDireccion }}</a>
					{% endif%}
	
			</li> 
		{% endfor %}
		
		<li>         
			{% firstof user.get_short_name user.get_username %}   	
	    	<a href="{% url 'logout_view' %}" id="logout">Cerrar sesion</a>
		</li>

	</ul>

	</nav>
	
	 </br> </br> </br>


</div>



