

<form action="" method="get">


	<table>
		<tr>
			<td><label>Organismo</label></td>
			<td><input id="organismo" name="organismo"  type="number"></td>
		</tr>

		<tr>
			<td><label>Número</label></td>
			<td><input id="numero" name="numero" type="number">
			</td>
		</tr>

		<tr>
			<td><label>Año</label></td>
			<td><input id="fecha_inicio" name="fecha_inicio type="number">	</td>
		</tr>

		<tr>
			<td><label>Alcance</label></td>
			<td><input id="alcance" name="alcance" value="{{alcanceFiltro}}" type="number">		</td> 
		</tr>
		
		{% if tipo == 'ExpedienteLey'%}
		<tr>
			 
			<td> <label>Consolidación</label> </td>
			<td> 
				<input id="checkconsolidacion" type="checkbox">
				<input id="inputconsolidacion" 	name="consolidacion" type="hidden">
			 </td>
		</tr>
		{% endif %}
		
		<td> <label>Concepto</label> </td>
			<td> 
				<label>{{user.groups.all.first}} <input type="radio" name="radio" id="cheDep" value= "propio"  
				 checked /> </label>  
				<label>Todos <input type="radio" name="radio" id="cheDep1" value= "todos" 
				{% if expPropiosFiltro == 'todos'%} checked  {%endif%}/> </label>
					
		</td>
		
		
	</table>

	 <button id="buscarExpedientes" type="button">Buscar</button>
</form>




<div class="datagrid">
	<table id="tabla" style="width: 100%">
		<thead>
			<tr>
				<th>Número</th>
				<th>Caracteristica</th>
				<th>Año</th>
				
			</tr>
		</thead>

		<tbody>
			

			
		</tbody>


		<tfoot>

			
		<tfoot>
	</table>
	
	
	
	
	
	
	
	<script>
	 $(document).ready(function () {

	        $('#buscarExpedientes').click(
	        	function () {
	            	jQuery.support.cors = true;
	
	            	var organismo=$('#organismo').val()
	            	var numero=$('#numero').val()
	            	var fecha_inicio=$('#fecha_inicio').val()
	            	
	            	$.ajax(
	                {
	                    type: "GET",
	                    url: 'http://localhost:8000/sig/exped/?organismo=' + organismo + '&numero=' + numero + '&fecha_inicio=' + fecha_inicio,
	                    contentType: "application/json; charset=utf-8",
	                    dataType: "json",
	                    success: function (data) {

	                        //alert('success');
	                         $.each(data, function (i, item) {
	                            
	                            	                            
		                         var tr = $('<tr>').append(
		                        		 $('<td>').text(item.numero),
		                                 $('<td>').text(item.organismo),
		                                 $('<td>').text(item.fecha_inicio)
		                             ); //.appendTo('#records_table');
		                         
		                          $('#tabla').append(tr);    
		                       });
 	                    },
	                    error: function (msg, url, line) {               }
	                });


	            //alert('button click');

	        });
	    });
	
</script>
	
	
	