{% extends "base_site.html" %} {% block content %}
<h2>Expedientes</h2>


{% if accion == 'nuevo' %}
<form id="form-expediente"  action="/sig/expedientes/guardar/" method="post" novalidate="novalidate"> 
{% endif %}

{% if accion == 'editar' %}
<form id="form-expediente" action="/sig/expedientes/editar/" method="post" novalidate="novalidate"> 
{% endif %}



{% csrf_token %}


	
	<div id="errors" class="error_show">
		<div class="inner">
			
			<ul>
				{% for error in errores %}
					  
						<li>{{error}}</li>
					  
				{% endfor %}
			</ul>
			
		</div>
	</div>
	
	
	
	
	


<input name="tipo" value="{{tipo}}" type="hidden">

<div id="validate-div">

<div>
	<label>Número</label> 
	<input id="organismo" name="organismo" value="{{expediente.organismo}}"  
	 {% if accion == 'editar' %}
	 	readonly
	 {% endif %} >
	<label>-</label> 
	<input id="numero" name="numero" value="{{expediente.numero}}"  
	 {% if accion == 'editar' %}
	 	readonly
	 {% endif %} >
	 <label>-</label> 
	<input name="anio" value="{{expediente.anio}}"  type="text"
	 {% if accion == 'editar' %}
	 	readonly
	 {% else%} 
	 	id="aniopicker" 	
	 {% endif %} >
	 
	 <label id="numero-error" class="error_hide">Campo requerido</span>
</div>
<div>
	<label>Características</label> 
	<input id="caracteristica" name="caracteristica" value="{{expediente.caracteristica}}" >
	<span id="caracteristica-error" class="error_hide">Campo requerido</span>
</div>



<div>
	<label>Fecha</label> 
	<input id="datepicker" name="fecha" value="{{expediente.fecha | date:'DATE_FORMAT'}}" type="text"  >
	</input>		
	<span id="datepicker-error" class="error_hide">Campo requerido</span>
	
 
</div>

<div>
	<label>Alcance</label> 
	<input id="alcance" name="alcance" value="{{expediente.alcance}}">
	<span id="alcance-error" class="error_hide">Campo requerido</span>
</div>

<div>
	<label>Cuerpo</label> 
	<input id="cuerpo" name="cuerpo" value="{{expediente.cuerpo}}" >
	<span id="cuerpo-error" class="error_hide">Campo requerido</span>
</div>


{% if tipo == 'ExpedienteLey'%}


	<div>
		<label>Partido</label> 
	
		<input id="inputpartido" name= "partido"  type="hidden">
		
		<select id="selectpartido" >
	
			{% for partido in partidos%}
		
				{% if partido.numero == expediente.partido.numero %}
					  <option value="{{partido.codigo}}" selected="true" >{{partido.nombre}}</option>
				{% else %}  
					  <option value="{{partido.codigo}}">{{partido.nombre}}</option>
				{% endif %}
			 
			{% endfor %}
		</select>
		
		<span id="inputpartido-error" class="error_hide">Campo requerido</span>
		
	
	</div>
	


	<div>
	<label>Región</label> 
	<input id="region" name="region" value="{{expediente.region}}" >
	<span id="region-error" class="error_hide">Campo requerido</span>
	

</div>
{% endif %}



</div>

<input id="form-expediente-button" type="button" value="Guardar">


</form>




<!-- Pases -->

<h2>Pases</h2>


<button id="popup">Nuevo Pase</button>


<div class="datagrid" >
<table style="width:100%">
  <tr>
    <th>Fecha</th>
    <th>Origen</th>
 	<th>Destino</th>
	<th>Remito</th>
  </tr>
  
  
  
  <tbody>
  	{% for pase in pases %}

	<tr>
		    
	    <td>{{pase.fecha  | date:"SHORT_DATE_FORMAT"}}</td>		
			
	    <td>{{pase.departamento_origen.nombre}}</td>		
			
		<td>{{pase.departamento_destino.nombre}}</td>	
			
		<td>
			<a href="/sig/expedientes/imprimirremito/{{expediente.id}}/{{pase.id}}" target="_blank">Impirmir remito</a>
			
		</td>		
			
			
			
	</tr>
		
	{% endfor %}
	</tbody>


	<tfoot>

	<td colspan="5">
		<div id="paging">
			<ul>
				{% if pases.has_previous %}
					<li>
						<a href="/sig/expediente/inspeccionar/{{tipo}}/{{organismoFiltro}}/{{numeroFiltro}}/{{anioFiltro}}/?page={{pases.previous_page_number }}">previous</a>
					</li>
				{% endif %}
				
				<span class="current">
					<li>
						Page {{ pases.number }} of {{ pases.paginator.num_pages }}.
					</li>
				</span>
				
				{% if pases.has_next %}
					<li>
						<a href="/sig/expediente/inspeccionar/{{tipo}}/{{organismoFiltro}}/{{numeroFiltro}}/{{anioFiltro}}/?page={{pases.next_page_number }}">next</a>
					</li>
				{% endif %}
			</ul>
		</div>
	

<tfoot>


</table>

</div>






<div id="pase_popup">



<h2>Alta Pase</h2>

		<form  action="/sig/pase/guardar/" method="post">
	
		{% csrf_token %}
		
	
	
		<input name="expediente_id" value="{{expediente.id}}" type="hidden">
		<input name="expediente_tipo" value="{{tipo}}" type="hidden">
		
	
		<div>
			<label>Fecha</label> 
			<input id="datepicker2" name="fecha" value="{{pase.fecha | date:'DATE_FORMAT'}}" type="text"  >
			
		
			
			
		</div>
		
		
		<input id="inputorigen" name= "departamento_origen" type="hidden">
		
		<div>
			<label>Departamento origen</label>  
			
			<select id="selectorigen" > 
				<option value="0">Ingrese un departamento</option>
				
					
				{% for departamento	in departamentos%} 
					<option value="{{departamento.codigo}}">{{departamento.nombre}}</option>
				{% endfor %}
			</select>
		</div>
			
		
		<input id="inputdestino" name= "departamento_destino" type="hidden">	
			
		<div>
			<label>Departamento destino</label> 
			
			<select id="selectdestino"> 	
				<option value="0">Ingrese un departamento</option>
				{% for departamento	in departamentos%} 
					<option value="{{departamento.codigo}}" >{{departamento.nombre}}</option>
				{% endfor %}
			</select>
		</div>
			
			
		<input type="submit" value="Guardar">
		<input id="close_popup" type="button"  value="Cancelar">
			
		
		
	</form>	
</div>







{% endblock %}
