{% extends "base_site.html" %}

{% block content %}
<h2>{{tipo}}</h2>



<form action="/sig/expedientes/buscar/{{tipo}}" method="get">
		<input type="text" id="organismo" name="organismo" value="0" type="number" >
		<input type="text" id="numero" name="numero" value="0" type="number" >
		<input type="text" id="anio" name="anio" value="0" type="number" >
        <input type="submit" value="Buscar">
</form>


<form action="/sig/expedientes/nuevo/{{tipo}}/0/0/0/0/0/" method="get">
        <input type="submit" value="Nuevo {{tipo}}">
        
</form>

<div class="datagrid" >
<table style="width:100%">
<thead>
  <tr>
    <th>Número</th>
    <th>Caracteristica</th>
 	<th>Fecha</th>
 	<th>Alcance</th>
 	<th>Cuerpo</th>
 	
 	{% if tipo == 'ExpedienteLey'%}
	 	<th>Partido</th>
	 	<th>Región</th>		
 	{% endif %}
  </tr>
 </thead> 
 
 <tbody> 
  	{% for expediente in expedientes %}

		<tr>
		    <td>
		     	{% if tipo == 'ExpedienteLey'%}
		          	  <a href="/sig/expediente/inspeccionar/{{tipo}}/{{ expediente.organismo}}/{{ expediente.numero }}/{{ expediente.anio}}/{{ expediente.partido.id}}/{{ expediente.region}}/" >{{ expediente.organismo }}-{{ expediente.numero }}-{{ expediente.anio }}-{{expediente.partido.nombre}}-{{expediente.region}} </a>
		    	{% else%}
		    		  <a href="/sig/expediente/inspeccionar/{{tipo}}/{{ expediente.organismo}}/{{ expediente.numero }}/{{ expediente.anio}}/0/0/" >{{ expediente.organismo }}-{{ expediente.numero }}-{{ expediente.anio }} </a>
		    	{% endif %}	
		    
		    </td>
		    
		    <td>{{ expediente.caracteristica }}</td>		
			
		    
		    <td>{{expediente.fecha | date:"SHORT_DATE_FORMAT"}}</td>		
			
			<td>{{ expediente.alcance }}</td>		
			
			<td>{{ expediente.cuerpo }}</td>		
		
	
			{% if tipo == 'ExpedienteLey'%}
				<td>{{ expediente.partido.nombre }}</td>		
				<td>{{ expediente.region }}</td>		
			{% endif %}
		</tr>
		
	{% endfor %}
</tbody>


<tfoot>

	{% if tipo == 'ExpedienteLey'%}
			<td colspan="7">
	{% else%}
			<td colspan="5">
	{% endif %}		
			
		
		<div id="paging">
			<ul>
				{% if expedientes.has_previous %}
					<li>
						{% if tipo == 'ExpedienteLey'%}
								<a href="?organismo={{organismoFiltro}}&numero={{numeroFiltro}}&anio={{anioFiltro}}&partidoid={{expediente.partido.id}}&region={{expediente.region}}&page={{expedientes.previous_page_number }}">previous</a>
						{% else %}
								<a href="?organismo={{organismoFiltro}}&numero={{numeroFiltro}}&anio={{anioFiltro}}&partidoid=0&region=0&page={{expedientes.previous_page_number }}">previous</a>
						{% endif %} 
					
					</li>
				{% endif %}
				
				<span class="current">
					<li>
						Page {{ expedientes.number }} of {{ expedientes.paginator.num_pages }}.
					</li>
				</span>
				
				{% if expedientes.has_next %}
					<li>
						{% if tipo == 'ExpedienteLey'%}
							<a href="?organismo={{organismoFiltro}}&numero={{numeroFiltro}}&anio={{anioFiltro}}&partidoid={{expediente.partido.id}}&region={{expediente.region}}&page={{expedientes.next_page_number }}">next</a>
						{% else %}
								<a href="?organismo={{organismoFiltro}}&numero={{numeroFiltro}}&anio={{anioFiltro}}&partidoid=0&region=&page={{expedientes.next_page_number }}">next</a>
						{% endif %}
					
					</li>
				{% endif %}
			</ul>
		</div>
	

<tfoot>




</table>


{% endblock %}



