{% extends "base_site.html" %} {% block content %}
<h2>Expedientes</h2>

{% if accion == 'nuevo' %}
<form id="form-expediente"  action="/sig/expedientes/guardar/" method="post" novalidate="novalidate"> 
{% endif %}

{% if accion == 'editar' %}
<form id="form-expediente" action="/sig/expedientes/editar/" method="post" novalidate="novalidate"> 
{% endif %}


<div id="alta_expediente_success" title="Exito">
    <p>El expediente se ha guardado correctamente</p>
</div>

{% csrf_token %}


	
	<div id="errors" class="error_show">
		<div class="inner">
			
			<ul>
				{% for error in errores %}
					  
						<li>{{error}}</li>
					  
				{% endfor %}
			</ul>
			
		</div>
	</div>
	
	
	
	
	


<input name="tipo" value="{{tipo}}" type="hidden">
<input id="continueInId" name="continueIn" value="expediente" type="hidden">
<input id="saveId" name="saveData" value="notSaveExpediente" type="hidden">

<div id="validate-div">


 <table>


	<tr>	
	 <td>
	 	<label>Organismo</label>
	 </td>
	 <td> 
		<input id="organismo" name="organismo" value="{{expediente.organismo}}"  
		{% if accion == 'editar' %} 	readonly   {% endif %} >
	 </td>
	 <td>
	 		<label id="numero-error" class="error_hide">Campo requerido</span>
	 </td>
	</tr> 
	 
	 
	 <tr>
		<td>
			<label>Número</label>
		</td> 
		<td>
			<input id="numero" name="numero" value="{{expediente.numero}}"  
	 		{% if accion == 'editar' %}  readonly   {% endif %} >
	 	</td>
	 	<td>
	 		<label id="numero-error" class="error_hide">Campo requerido</span>
	 	</td>
	 </tr>	
	 	
	 
	 <tr>
	 	<td>	
	 		<label>Año</label>
	 	</td>
	 	<td>
			<input name="anio" value="{{expediente.anio}}"  type="text"
	 		{% if accion == 'editar' %}   readonly   
	 		{% else%}   	id="aniopicker" 	
	 		{% endif %} >
	 	</td>
	 	<td>
	 		<label id="numero-error" class="error_hide">Campo requerido</span>
	 	</td>
	 </tr>
	 
	 

<tr>
	 <td> <label>Características</label> </td> 
	 <td> <input id="caracteristica" name="caracteristica" value="{{expediente.caracteristica}}" > </td>
	 <td> <span id="caracteristica-error" class="error_hide">Campo requerido</span> </td>
</tr>


<tr>
	<td><label>Fecha de alta</label></td> 
	<td><input id="datepicker" name="fecha" value="{{expediente.fecha | date:'DATE_FORMAT'}}" type="text"  >
	</input> </td>		
	<td><span id="datepicker-error" class="error_hide">Campo requerido</span> </td>
</tr>


<tr>
	<td><label>Fecha de inicio</label></td> 
	<td><input id="datepicker1" name="fechaInicio" value="{{expediente.fechaInicio | date:'DATE_FORMAT'}}" type="text"  >
	</input> </td>		
	<td><span id="datepicker-error" class="error_hide">Campo requerido</span> </td>
</tr>


<tr>
	<td><label>Alcance</label></td> 
	<td><input id="alcance" name="alcance" value="{{expediente.alcance}}" type="number" 
	 {% if accion == 'editar' %}
	 	readonly
	 {% endif %}
	> </td>
	<td><span id="alcance-error" class="error_hide">Campo requerido</span> </td>
</tr>

<tr>
	<td><label>Cuerpo</label></td> 
	<td><input id="cuerpo" name="cuerpo" value="{{expediente.cuerpo}}" type="number"> </td>
	<td><span id="cuerpo-error" class="error_hide">Campo requerido</span> </td>
</tr>


{% if tipo == 'ExpedienteLey'%}

	<tr>
		<td>
			<input id="inputconsolidacion" name= "consolidacion"  type="hidden"> 
			<label>Consolidación</label> 
		</td> 
		<td><input id="checkconsolidacion"  value="{{expediente.consolidacion}}" type="checkbox" 
			{% if expediente.consolidacion  %}
					checked="yes"
			{% endif %}	
			{% if accion == 'editar' %}
					readonly
			{% endif %}		
		></td>
	
	</tr>


	<tr>
		<td>
			<label>Partido</label>  
			 <input id="inputpartido" name= "partido"  type="hidden">
	    </td>
		
		{% if accion == 'nuevo' %}
	
		<td>
		<select id="selectpartido" >
	
			{% for partido in partidos%}
		
				{% if partido.codigo == expediente.partido.codigo %}
					  <option value="{{partido.codigo}}" selected="true" >{{partido.nombre}}</option>
				{% else %}  
					  <option value="{{partido.codigo}}">{{partido.nombre}}</option>
				{% endif %}
			 
			{% endfor %}
		</select>
	  </td>
	  {% endif %}
		
		
	   {% if accion == 'editar' %}
	   <td>
			<input  value="{{expediente.partido.nombre}}"  readonly>
	   </td>
	  {% endif %}
		
      <span id="inputpartido-error" class="error_hide">Campo requerido</span>
	</tr>
	
	<tr>
		<td> <label>Región</label> </td> 
		<td> <input id="region" name="region" value="{{expediente.region}}" 
			 {% if accion == 'editar' %} 	readonly 	 {% endif %}> </td>
		<td> <span id="region-error" class="error_hide">Campo requerido</span> </td>
	</tr>
{% endif %}


	<tr>
		<td> <label>Extracto</label> </td> 
		<td> <textarea rows="4" cols="50" id="extracto" name="extracto"  {% if accion == 'editar' %} readonly {% endif %}> 
				{% if accion == 'editar' %} {{expediente.extracto}}  {% endif %}
		</textarea> </td>
		<td> <span id="extracto-error" class="error_hide">Campo requerido</span> </td>
	</tr>

	<tr>
		<td> <label>Cantidad de Fojas</label> </td> 
		<td> <input id="cant_fojas" name="cant_fojas" value="{{expediente.cant_fojas}}" 
			 {% if accion == 'editar' %} 	readonly 	 {% endif %} /> </td>
		<td> <span id="cant_fojas-error" class="error_hide">Campo requerido</span> </td>
	</tr>

	<tr>
		<td> <label>Observación</label> </td> 
		<td> <textarea rows="4" cols="50" id="observacion" name="observacion"  {% if accion == 'editar' %} readonly {% endif %} > 
		 		{% if accion == 'editar' %} {{expediente.observacion}}  {% endif %}

		 </textarea> </td>
		<td> <span id="observacion-error" class="error_hide">Campo requerido</span> </td>
	</tr>




</table>
</div>

<input id="form-expediente-button" type="button" value="Guardar">
<input id="form-expediente-button-exit" type="button" value="Salir">

</form>




<!-- Pases -->

<h2>Pases</h2>


{% if accion == 'editar' %}
	<button id="popup">Nuevo Pase</button>
{% endif %}

<div class="datagrid" >
<table style="width:100%">
  <tr>
    <th>Fecha</th>
    <th>Origen</th>
 	<th>Destino</th>
 	<th>Estado</th>
	<th>Remito</th>
  </tr>
  
  
  
  <tbody>
  	{% for pase in pases %}

	<tr>
		    
	    <td>{{pase.fecha  | date:"SHORT_DATE_FORMAT"}}</td>		
			
	    <td>{{pase.departamento_origen.nombre}}</td>		
			
		<td>{{pase.departamento_destino.nombre}}</td>	
			
		<td>{{pase.estado}}</td>	
		<td>
			<a href="/sig/expedientes/imprimirremito/{{expediente.id}}/{{pase.id}}" target="_blank">Impirmir remito</a>
			
		</td>		
			
			
			
	</tr>
		
	{% endfor %}
	</tbody>


	<tfoot>

	<td colspan="5">
		<div id="paging">
			<ul>
				{% if pases.has_previous %}
					<li>
					{% if tipo == 'ExpedienteLey'%}
						<a href="/sig/expediente/inspeccionar/{{tipo}}/{{organismoFiltro}}/{{numeroFiltro}}/{{anioFiltro}}/{{expediente.partido.id}}/{{expediente.region}}?page={{pases.previous_page_number }}">previous</a>
					{% else %}
						<a href="/sig/expediente/inspeccionar/{{tipo}}/{{organismoFiltro}}/{{numeroFiltro}}/{{anioFiltro}}/0/0?page={{pases.previous_page_number }}">previous</a>
					{% endif %}
					
					</li>
				{% endif %}
				
				<span class="current">
					<li>
						Page {{ pases.number }} of {{ pases.paginator.num_pages }}.
					</li>
				</span>
				
				{% if pases.has_next %}
					<li>
						{% if tipo == 'ExpedienteLey'%}
							<a href="/sig/expediente/inspeccionar/{{tipo}}/{{organismoFiltro}}/{{numeroFiltro}}/{{anioFiltro}}/{{expediente.partido.id}}/{{expediente.region}}?page={{pases.next_page_number }}">next</a>
						{% else %}
							<a href="/sig/expediente/inspeccionar/{{tipo}}/{{organismoFiltro}}/{{numeroFiltro}}/{{anioFiltro}}/0/0?page={{pases.next_page_number }}">next</a>
						{% endif %}
					
					
					
					</li>
				{% endif %}
			</ul>
		</div>
	

<tfoot>


</table>

</div>






<div id="pase_popup">



<h2>Alta Pase</h2>

		<form  action="/sig/pase/guardar/" method="post">
	
		{% csrf_token %}
	
	
		<input name="expediente_id" value="{{expediente.id}}" type="hidden">
		<input name="expediente_tipo" value="{{tipo}}" type="hidden">
		<input  name= "departamento_origen" value="{{departamento_origen.codigo}}" id="dep_id" type="hidden">
		<input id="inputdestino" name= "departamento_destino" type="hidden">
		
		
	
		<table>
		
		<tr>
			<td> <label>Número de remito</label>   </td>
			<td> <input id="numero" name="numero" value="{{pase.numero}}" type="number" >  </td>
		</tr>
				
		<tr>
			<td> <label>Fecha</label>  </td> 
			<td> <input id="datepic" name="fecha" value="{{pase.fecha  | date:'DATE_FORMAT' }}" type="text"  readonly> </td>
		</tr>
		
		<tr>
			<td> <label>Concepto origen</label>  </td> 
			<td> <input  name= "departamento_origen_name" value="{{departamento_origen.nombre}}" id="dep_name"  size=70 readonly> </td>
		</tr>
			
		<tr>
			<td> <label>Concepto destino</label>
			</td>
			 
			
			<td>
			
			
				<label>Interno <input type="radio" name="radio" id="cheDep" value= "Interno" checked/> </label>  
				<label>         Externo <input type="radio" name="radio" id="cheDep1" value= "Externo" /> </label>
					
				</br> 
			
			 
			<div id="panelInterno"> 
				<select id="selectdestino"> 	
					<option value="0">Ingrese un concepto</option>
						{% for departamento	in departamentosInternos %} 
							<option value="{{departamento.codigo}}" >{{departamento.nombre}}</option>
						{% endfor %}
				</select> 
			</div>
			
			<div id="panelExterno">
				<select id="selectdestino"> 	
					<option value="0">Ingrese un concepto</option>
						{% for departamento	in departamentosExternos %} 
							<option value="{{departamento.codigo}}" >{{departamento.nombre}}</option>
						{% endfor %}
				</select> 
			</div>
			</td>
			
		</tr>
			
		<tr>	
			<td> <input type="submit" value="Guardar"> </td>
			<td>  <input id="close_popup" type="button"  value="Cancelar"> </td>
		
		</tr>
		
		</table>	
		
		
	</form>	
</div>



<div id="confirmationExit_popup">

	<h2>Exiten campos con datos</h2>
	<h2>¿Esta seguro que desea salir sin guardar los cambios?</h2>

	<form  action="/sig/expedientes/salir/" method="post">	
		{% csrf_token %}
		<input name="exp_tipo" value="{{tipo}}" type="hidden">
		<table>
			<tr>	
				<td> <input type="submit" value="Continuar"> </td>
				<td>  <input id="closeExitPopup_popup" type="button"  value="Cancelar"> </td>
			</tr>
		</table>	

	</form>	

</div>



{% endblock %}
