{% extends "base_site.html" %}

{% block content %}
<h2>{{tipo}}</h2>



<form action="/sig/expedientes/buscar/{{tipo}}" method="get">
		<input type="text" id="organismo" name="organismo" value="0" type="number" >
		<input type="text" id="numero" name="numero" value="0" type="number" >
		<input type="text" id="anio" name="anio" value="0" type="number" >
        <input type="submit" value="Buscar">
</form>


<form action="/sig/expedientes/nuevo/{{tipo}}/0/0/0/" method="get">
        <input type="submit" value="Nuevo {{tipo}}">
        
</form>

<div class="datagrid" >
<table style="width:100%">
<thead>
  <tr>
    <th>Número</th>
    <th>Caracteristica</th>
 	<th>Fecha</th>
 	<th>Alcance</th>
 	<th>Cuerpo</th>
 	
 	{% if tipo == 'ExpedienteLey'%}
	 	<th>Partido</th>
	 	<th>Región</th>		
 	{% endif %}
  </tr>
 </thead> 
 <tfoot><tr><td colspan="5"><div id="paging"><ul><li><a href="#"><span>Anterior</span></a></li><li><a href="#" class="active"><span>1</span></a></li><li><a href="#"><span>2</span></a></li><li><a href="#"><span>3</span></a></li><li><a href="#"><span>4</span></a></li><li><a href="#"><span>5</span></a></li><li><a href="#"><span>Siguiente</span></a></li></ul></div></tr></tfoot>
 <tbody> 
  	{% for expediente in expedientes %}

		<tr>
		    <td>
	      	  <a href="/sig/expediente/inspeccionar/{{tipo}}/{{ expediente.organismo}}/{{ expediente.numero }}/{{ expediente.anio}}/" >{{ expediente.organismo }}-{{ expediente.numero }}-{{ expediente.anio }} </a>
		    </td>
		    
		    <td>{{ expediente.caracteristica }}</td>		
			
		    
		    <td>{{expediente.fecha | date:"SHORT_DATE_FORMAT"}}</td>		
			
			<td>{{ expediente.alcance }}</td>		
			
			<td>{{ expediente.cuerpo }}</td>		
		
	
			{% if tipo == 'ExpedienteLey'%}
				<td>{{ expediente.partido.nombre }}</td>		
				<td>{{ expediente.region }}</td>		
			{% endif %}
		</tr>
		
	{% endfor %}
</tbody>
</table>
<div class="pagination">
    <span class="step-links">
        {% if expedientes.has_previous %}
            <a href="?page={{ expedientes.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ expedientes.number }} of {{ expedientes.paginator.num_pages }}.
        </span>

        {% if expedientes.has_next %}
            <a href="?page={{ expedientes.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
</div>


{% endblock %}



