{% extends "base_site.html" %} {% block content %}

	<h2>Expediente</h2>


<form action="/sig/expedientes/buscar/" method="get">
{% csrf_token %}


	<table>    
		<tr>
			<td><label>Número</label></td>
			<td><input id="numero" name="numero" value="{{numeroFiltro}}" type="number">
			</td>
		</tr>

		<tr>
			<td><label>Año</label></td>
			<td><input id="anio" name="anio" value="{{anioFiltro}}" type="number">	</td>
		</tr>
	
		<tr>
			<td><label>Organismo</label></td>
			<td><input id="organismo" name="organismo" value="{{organismoFiltro}}"  type="number"></td>
		</tr>

		<tr>
			<td><label>Alcance</label></td>
			<td><input id="alcance" name="alcance" value="{{alcanceFiltro}}" type="number">		</td> 
		</tr>
		
		<tr>
			 
			<td> <label>Consolidación</label> </td>
			<td> 
				<input id="checkconsolidacion" type="checkbox">
				<input id="inputconsolidacion" 	name="consolidacion" type="hidden">
			 </td>
		</tr>
		
		<tr>
		

			<td><label>Concepto</label> </td>
			<td> 
				<label>{{user.groups.all.first}} <input type="radio" name="radio" id="cheDep" value= "propio"  
				 checked /> </label>  
				<label>Todos <input type="radio" name="radio" id="cheDep1" value= "todos" 
				{% if expPropiosFiltro == 'todos'%} checked  {%endif%}/> </label>
					
			</td>
		</tr>
		
		
		<tr>
			<td><label>Extracto</label></td>
			<td><input id="extracto" name="extracto" value="{{extractoFiltro}}" type="text">		</td> 
		</tr>
		
		
	</table>

	 <input type="submit" value="Buscar">
</form>


{% for grupo in user.groups.all  %}
	{% if grupo.name == 'Mesa de Entrada' %}
		<form action="/sig/expedientes/nuevoExpedienteLey/" method="get">
				<input type="submit" value="Nuevo Expediente Ley">
		</form>
	{% endif %}
{% endfor %}

{% for grupo in user.groups.all  %}
	{% if grupo.name == 'Mesa de Entrada' %}
		<form action="/sig/expedientes/nuevoExpediente/" method="get">
				<input type="submit" value="Nuevo Expediente ">
		</form>
	{% endif %}
{% endfor %}




<div class="datagrid">
	<table style="width: 100%">
		<thead>
			<tr>
				<th>Número</th>
				<th>Caracteristica</th>
				<th>Fecha</th>
				<th>Alcance</th>
				<th>Cuerpo</th> 
				<th>Consolidación</th>
				<th>Partido</th>
				<th>Región</th> 
			</tr>
		</thead>

		<tbody>
			{% for expediente in expedientes %}

			<tr>
				<td>
			 		<a href="/sig/expediente/inspeccionar/{{expediente.id}}/">
						{%  if expediente.partido %}
							{{expediente.organismo }}-{{ expediente.numero }}-{{ expediente.anio}}-{{ expediente.partido.nombre }}-{{expediente.region}}-{{expediente.alcance}}
						{% else %}
							{{expediente.organismo }}-{{ expediente.numero }}-{{ expediente.anio}}-{{expediente.alcance}}
						{% endif %}
						
						
					</a> 
				</td>

				<td>{{ expediente.caracteristica }}</td>

				<td>{{expediente.fecha | date:"SHORT_DATE_FORMAT"}}</td>

				<td>{{ expediente.alcance }}</td>

				<td>{{ expediente.cuerpo }}</td> 
				
				<td>
					<input id="consolidacion" name="consolidacion" 	type="checkbox" 
					{% if expediente.consolidacion  %}
						checked="yes"
					{% endif %}	
					readonly>
				</td>
				<td>{{ expediente.partido.nombre }}</td>
				<td>{{ expediente.region }}</td> 

			</tr>

			{% endfor %}
		</tbody>


		<tfoot>
			<td colspan="8">

				<div id="paging">
					<ul>
						{% if expedientes.has_previous %}
							<li>
								<a href="?page={{expedientes.previous_page_number }}">previous</a>
							</li> 
						{% endif %}	
						
						<span class="current">
							<li>Page {{ expedientes.number }} of {{expedientes.paginator.num_pages }}.</li>
						</span> 
						
						{% if expedientes.has_next %}
							<li>
								<a 	href="?page={{expedientes.next_page_number}}">next</a>
							</li> 
						{% endif %}
					</ul>
				</div>
		<tfoot>
	</table>


	{% endblock %}
